{
'token' : 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx',
'fastMode': 0,
'UA': 'Mozilla/5.0 (iPhone; CPU iPhone OS 14_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 yiban_iOS/4.9.3'
}